.nav-brand {
    background-color: #4A9B30;
}

.rad {
    border-radius: 30px;
}

.pd-bg {
    background-color: #FDCC00;
}

.transition {
    transition: background-color 0.3s ease;
}

.bot-hover {
    background-color: #6DB423;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bot-item {
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.bot-item:hover {
  background-color: #FDCC00;
}

.icon-size {
    font-size: larger;
}
